In [17]:
import pandas as pd

In [18]:
data=pd.read_csv("framingham.csv")

In [19]:
data.head(3)

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0

In [30]:
data["male"].value_counts()

0    2420
1    1820
Name: male, dtype: int64

In [31]:
data["education"].value_counts()

1.0    1720
2.0    1253
3.0     689
4.0     473
Name: education, dtype: int64

In [21]:
data["education"].count()

4135

In [22]:
data["age"].count()

4240

In [20]:
data["male"].count()

4240

In [10]:
data["male"].unique()

array([1, 0], dtype=int64)

In [15]:
data.nunique()

male                  2
age                  39
education             4
currentSmoker         2
cigsPerDay           33
BPMeds                2
prevalentStroke       2
prevalentHyp          2
diabetes              2
totChol             248
sysBP               234
diaBP               146
BMI                1364
heartRate            73
glucose             143
TenYearCHD            2
dtype: int64

In [16]:
data["male"].value_counts()

0    2420
1    1820
Name: male, dtype: int64