In [1]:
import pandas as pd

In [2]:
data1=pd.read_csv('data1.csv')

In [3]:
data2=pd.read_csv('data2.csv')

In [4]:
data1.head()

   male  age  education  currentSmoker  id
0     1   39        4.0              0   0
1     0   46        2.0              0   1
2     1   48        1.0              1   2
3     0   61        3.0              1   3
4     0   46        3.0              1   4

In [6]:
data1.shape

(4240, 5)

In [8]:
len(data1["id"].unique())

4240

In [5]:
data2.head()

   diabetes    BMI  id
0         0  26.97   0
1         0  28.73   1
2         0  25.34   2
3         0  28.58   3
4         0  23.10   4

In [9]:
len(data2["id"].unique())

4240

In [10]:
data3=data1.merge(data2,on='id',how='inner')

In [11]:
data3

      male  age  education  currentSmoker    id  diabetes    BMI
0        1   39        4.0              0     0         0  26.97
1        0   46        2.0              0     1         0  28.73
2        1   48        1.0              1     2         0  25.34
3        0   61        3.0              1     3         0  28.58
4        0   46        3.0              1     4         0  23.10
...    ...  ...        ...            ...   ...       ...    ...
4235     0   48        2.0              1  4235         0  22.00
4236     0   44        1.0              1  4236         0  19.16
4237     0   52        2.0              0  4237         0  21.47
4238     1   40        3.0              0  4238         0  25.60
4239     0   39        3.0              1  4239         0  20.91

[4240 rows x 7 columns]