In [17]:
import pandas as pd

In [18]:
data=pd.read_csv("framingham.csv")

In [19]:
data.head(2)

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0

In [20]:
import numpy as np

In [25]:
data1=pd.pivot_table(data,values=['cigsPerDay'],index=['male'],columns=['education'],aggfunc=[np.mean]).reset_index()

In [26]:
data1

          male       mean
               cigsPerDay
education             1.0        2.0        3.0        4.0
0            0   4.679829   7.025033   5.768398   5.591837
1            1  13.536869  14.243299  12.986486  12.313869

In [24]:
pd.pivot_table(data,values=['cigsPerDay'],index=['male'],aggfunc=[np.mean]).reset_index()

  male       mean
       cigsPerDay
0    0   5.729730
1    1  13.368771

In [27]:
data1.to_csv('pivot_result.csv')